{% if is_paginated %}
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{{ search_params }}">&laquo;</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ search_params }}">&lsaquo;</a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ search_params }}">&rsaquo;</a>
                </li>

                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{{ search_params }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
