{% load reservation_tags %}

<h2>Reserved books</h2>

{% if reservations %}
    <table class="table">
        <tr>
            <th class="w-75">Book</th>
            <th>Queue position</th>
        </tr>

        {% for reservation in reservations %}
            <tr>
                <td>
                    <a href="{% url 'library_app:book_detail' reservation.book.id %}">{{ reservation.book.name }}</a>
                </td>

                <td>{% reservation_queue_position user.libraryuser reservation.book.id %}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You have not reserved any books.</p>
{% endif %}
