{% extends "base.html" %}

{% block content %}
    <h1>{{ book }}</h1>

    <p>{{ book.description }}</p>

    <table class="table">
        <tr>
            <td>Author:</td>
            <td>
                {{ book.authors.all|join:", " }}
            </td>
        </tr>

        <tr>
            <td>ISBN:</td>
            <td>{{ book.isbn }}</td>
        </tr>

        <tr>
            <td>Published:</td>
            <td>{{ book.pub_date }}</td>
        </tr>

        {% if book.borrowing %}
            <tr>
                <td>Currently borrowed:</td>
                <td>
                    {{ book.borrowing.creation_date|date:"d.m.Y" }} –
                    {{ book.borrowing.due_date|date:"d.m.Y" }}
                </td>
            </tr>
        {% endif %}

        <tr>
            <td>Times borrowed:</td>
            <td>{{ book.borrowings_count }}</td>
        </tr>

        <tr>
            <td>Reservations:</td>
            <td>{{ book.reservations.count }}</td>
        </tr>
    </table>

    {% if user.is_authenticated %}
        {% if reservation_queue_position %}
            <form action="{% url 'library_app:reservation_delete' book.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Cancel reservation" />
            </form>

            Your position in reservation queue: {{ reservation_queue_position }}
        {% else %}
            <form action="{% url 'library_app:reservation_create' book.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Reserve" />
            </form>
        {% endif %}


    {% endif %}
{% endblock %}
