{% extends "base.html" %}

{% block content %}
    <h1>{{ book }}</h1>

    <p>{{ book.description }}</p>

    <table class="table">
        <tr>
            <td>Author:</td>
            <td>
                {{ book.authors.all|join:", " }}
            </td>
        </tr>

        <tr>
            <td>ISBN:</td>
            <td>{{ book.isbn }}</td>
        </tr>

        <tr>
            <td>Published:</td>
            <td>{{ book.pub_date }}</td>
        </tr>

        <tr>
            <td>Reservations:</td>
            <td>{{ book.reservations.count }}</td>
        </tr>
    </table>

    {% if user.is_authenticated %}
        <form action="{% url 'library_app:reservation_create' book.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Reserve" />
        </form>
    {% endif %}
{% endblock %}
