{% extends "base.html" %}

{% block content %}
    <h1>Books</h1>

    <form action="{% url 'library_app:book_list' %}" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search" />
    </form>

    {% if books %}
        <table class="table">
            <tr>
                <th>Book</th>
                <th>Authors</th>
                <th>Reservations</th>
                <th>Return date</th>
            </tr>

            {% for book in books %}
                <tr>
                    <td><a href="{% url 'library_app:book_detail' book.id %}">{{ book.name }}</a></td>
                    <td>{{ book.authors.all|join:", " }}</td>
                    <td>{{ book.reservations.count }}</td>
                    <td>{{ book.borrowing.due_date|date:"d.m.Y" }}</td>
                </tr>
            {% endfor %}
        </table>

        {% include 'library_app/_book_list_pagination.html' %}
    {% else %}
        No books found.
    {% endif %}
{% endblock %}
