{% extends "base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <b>Overall info</b>
        </div>

        <div class="card-body">
            <p class="card-text">
                There are {{ book_count }} books by {{ author_count }} authors in {{ genre_count }} genres in this library.
            </p>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            <b>Latest books</b>
        </div>
        <ul class="list-group list-group-flush">
            {% for book in newest_books %}
                <li class="list-group-item">
                    <a href="{% url 'library_app:book_detail' book.id %}">{{book }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card my-5">
        <div class="card-header">
            <b>Most borrowed books</b>
        </div>
        <ul class="list-group list-group-flush">
            {% for book in most_borrowed_books %}
                <li class="list-group-item">
                    <a href="{% url 'library_app:book_detail' book.id %}">{{book }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
