{% extends "base.html" %}

{% block content %}

<div class="alert alert-primary" role="alert">
    There are {{ book_count }} books by {{ author_count }} authors in {{ genre_count }} genres in this library.
</div>

<div class="alert alert-primary" role="alert">
    <h1>Latest books</h1>

    <ul>
        {% for book in newest_books %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul>
</div>

<div class="alert alert-primary" role="alert">
    <h1>Most borrowed books</h1>

    <ul>
        {% for book in most_borrowed_books %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
